header {z-index: 4;}
.main-nav {
    z-index: 2;
}
#photos {
    z-index: -1;
    position: relative;
}
/* Video container */
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.w3-jumbo {
  text-transform: uppercase;
  z-index: 7;
}

span.w3-hide-small {
  z-index: 3;
}

.w3-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#inicio.w3-black {
  background-color: none !important;
}

.semioscuro {
  background-color: rgba(33, 61, 75, 0.5);
  color: white;
}
.semioscuro-2 {
  background-color: rgba(92, 15, 25, 0.57);
}
.tmpl-inicio {
  background-size: contain;
  position: relative;
}
.banner-image {
  content: "";
  display: block;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: url("../img/portada.jpg") no-repeat;
  background-size: auto, auto;
  z-index: -1;
  background-size: contain;
}
main {
    padding-top: 100px;
    z-index: 10;
}
.wrapper-banner-image {
    content: "";
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 4%, rgba(0,0,0,1) 7%, rgba(0,0,0,0) 100%);
  z-index: -1;
}
.full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
}
