---
layout: layouts/home.njk
pagination:
    data: collections.videos
    size: 6
    alias: videos
eleventyNavigation:
  key: Fotos
  order: 3
  url: /fotos
---

{# Grid for photos  #}
<div class="container-xl">
  {# Print elements #}
  <section class="pb-4">
    <h2 style="display: grid; place-content: center;">
      Bajo contrucción
    </h2>
  </section>

  {#  End photo grid #}
