---
layout: layouts/home.njk
eleventyNavigation:
  icono: bi-house
  key: Inicio
  order: 1
  url: /#inicio
pagination:
    data: videoList.frontpage
    size: 8
    alias: frontpage
---
{# Inicio #}
<header id="inicio" class="header text-uppercase justify-content-around">
  <h1 class="py-4 pt-3 col-12 page-title">
    <p class="mx-auto ms-md-5 pt-md-5">{{ metadata.title }}</p>
  </h1>
  {# <svg viewBox="0 0 450 50">
            <text y="50">{{ metadata.title }}</text>
          </svg> #}
  <p class="p-2 px-3 page-subtitle mb-auto ms-sm-auto me-sm-auto ms-5 me-5 fs-5">Vídeo y fotografía</p>
  <a class="btn-down fs-1 pb-5 mb-5" href="#about">
    <i class="bi bi-arrow-down-circle-fill"></i>
    <span class="visually-hidden-focusable">Ver más</span>
  </a>
  <div class="wrapper-banner-image">
    <picture>
      <source media="(max-width: 799px)" srcset="/img/portada-480w.jpg"/>
      <source media="(min-width: 800px)" srcset="/img/portada-800w.jpg"/>
      <img class="banner-image fixed-top" src="/img/portada-800w.jpg" alt="Una mano de un bebé agarrando una llave de hierro antigua"/>
    </picture>

  </div>
</header>
{# Sobre mi Section #}
<section id="about" class=" justify">
  <div class="p-4 p-md-5 container-xxl bg-white" data-aos="fade-right" data-aos-duration="1000">

    <h2 class="mb-2 fw-bold fs-2 text-uppercase ff-quicksand">La mirada Laborda</h2>
    <hr style="width:200px" class="opacity">
    <p>“La Mirada Laborda” es un reflejo de mi trabajo, una pequeña selección de mis
            obras más representativas. Después de dos décadas dedicado a la fotografía y al
            vídeo, sigo fascinado con el cultivo de un lenguaje propio con el que poder
            transmitir mi pasión por la vida y la belleza de su misterio. Ha sido para mi un
            honor y un placer entregarme a este oficio y a su magia. He disfrutando
            esculpiendo mi visión y sobretodo he disfrutado de la gente con la que he tratado.</p>
    <p>
               Fotografiar es un acto que implica responsabilidad y amor por lo fotografiado.
                           Cada sesión de fotos, cada audiovisual realizado ha sido una experiencia integral,
                           una poderosa herramienta para conocer al ser humano en un contexto de
                           experimentación artística. Un auténtico regalo.
            <br>
            Eduardo Laborda Martínez.
        </p>
    <div class="py-3 text-center row row-cols-2 row-cols-sm-4">
      <div class="col mb-4">
        <div class="p-3 card h-100 justify-content-center">
          <strong class="pb-3 display-3">11+</strong>
          <div class="qqqq">Colaboraciones</div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="p-3 card h-100 justify-content-center">
          <strong class="pb-3 display-3">55+</strong>
          <div class="qqqq">Proyectos hechos</div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="p-3 card h-100 justify-content-center">
          <strong class="pb-3 display-3">89+</strong>
          <div class="qqqq">Clientes felices</div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="p-3 card h-100 justify-content-center">
          <strong class="pb-3 display-3">12+</strong>
          <div class="qqqq">Exposiciones</div>
        </div>
      </div>
    </div>
    <button class="mx-auto btn-secondary btn-lg" onclick="window.open('{{ 'files/eduardo-laborda-cv.pdf' | url}}')">
      <i class="fa fa-download"></i>
      Descargar curriculum
    </button>
  </div>
  {# Testimonials #}
  <div class="bg-beige">
    <div class="p-4 pb-5 mt-1 justify container-xxl p-md-5" data-aos="fade-left" data-aos-duration="1000">
      <h3 class="mb-3 fs-3 ff-quicksand">Mi reputación</h3>
      <div class="row">
        <section class="testimonial-slider">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="text-center carousel-inner">
              <div class="carousel-item active">
                <i class="bi bi-chat-right-quote fs-2 text-danger"></i>
                <figure class="mt-4 text-cent">
                  <blockquote class="blockquote">
                    <p class="height-testimonial">"Poesia visual. Así resumiria su talento con la cámara y su capacidad para plasmar en vídeos y fotos cada emoción y percepción. Un placer trabajar con alguien amable y atento, comprometido con una visión propia e integradora."</p>
                  </blockquote>
                  <figcaption class="mt-2 blockquote-footer">Sílvia Tomàs</figcaption>
                </figure>
              </div>
              <div class="carousel-item">
                <i class="bi bi-chat-right-quote fs-2 text-danger"></i>
                <figure class="mt-4">
                  <blockquote class="blockquote">
                    <p class="height-testimonial">"Las fotos quedaron estupendas, un resultado impactante, sorprendente. Realmente ve el mundo desde una óptica distinta.</p>
                  </blockquote>
                  <figcaption class="mt-2 blockquote-footer">Javier Rocas</figcaption>
                </figure>
              </div>
              <div class="carousel-fake"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
    {# End Sobre mi Section #}
  </section>

  {# Portfolio Section #}
  <section id="videos" class="p-4 overflow-hidden container-xxl px-lg-5 bg-white" data-aos="fade-right" data-aos-duration="1000">
    <h2 class="mb-2 fw-bold fs-2 text-uppercase ff-quicksand">Vídeos</h2>
    <hr style="width:200px" class="opacity">

    {# Grid videos #}
    <div class="row">
      <div class="mb-2 mb-sm-3 col-md-6">
        <div class="card flex-row p-3 h-100">
          <div class="col-4 col-md-4 d-none d-sm-block ">
            <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              alt=""
              class="img-fluid object-fit-cover h-100"
/>
          </div>
          <div class="card-body col-12 col-md-8 d-flex flex-column justify-content-between p-0 ps-sm-3">
            <div class="d-flex align-items-center pb-3">
              <div class="align-self-start">
                <p class="mb-2 fw-bold fs-5 ff-montserrat">Videoclips</p>
                <p class="mb-0">Videoclips musicales para bandas y cantautores.</p>
              </div>
            </div>
            <button class="btn-secondary ms-auto me-auto ms-md-auto me-md-0 btn-sm w-100" onclick="window.open('/videos-videoclips', '_self')">
              <i class="bi bi-play-fill"></i>
      Ver videoclips
    </button>
          </div>
        </div>
      </div>
      <div class="mb-2 mb-sm-3 col-md-6">
        <div class="card flex-row p-3 h-100">
          <div class="col-4 col-md-4 d-none d-sm-block ">
            <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              alt=""
              class="img-fluid object-fit-cover h-100"
/>
          </div>
          <div class="card-body col-12 col-md-8 d-flex flex-column justify-content-between p-0 ps-sm-3">
            <div class="d-flex align-items-center pb-3">
              <div class="align-self-start">
                <p class="mb-2 fw-bold fs-5 ff-montserrat">Documentales</p>
                <p class="mb-0">Una pequeña muestra de los documentales creados para diversos fines</p>
              </div>
            </div>
            <button class="btn-secondary ms-auto me-auto ms-md-auto me-md-0 btn-sm w-100" onclick="window.open('/videos-documentales', '_self')">
              <i class="bi bi-play-fill"></i>
      Ver documentales
    </button>
          </div>
        </div>
      </div>
      <div class="mb-2 mb-sm-3 col-md-6">
        <div class="card flex-row p-3 h-100">
          <div class="col-4 col-md-4 d-none d-sm-block ">
            <img
              src="https://mdbootstrap.com/img/new/avatars/9.jpg"
              alt=""
              class="img-fluid object-fit-cover h-100"
/>
          </div>
          <div class="card-body col-12 col-md-8 d-flex flex-column justify-content-between p-0 ps-sm-3">
            <div class="d-flex align-items-center pb-3">
              <div class="align-self-start">
                <p class="mb-2 fw-bold fs-5 ff-montserrat">Publicidad</p>
                <p class="mb-0">Vídeos publicitarios y comerciales para vender y dar a conocerse ya sea en televisión o redes sociales.</p>
              </div>
            </div>
            <button class="btn-secondary ms-auto me-auto ms-md-auto me-md-0 btn-sm w-100" onclick="window.open('/videos-publicidad', '_self')">
              <i class="bi bi-play-fill"></i>
      Ver publicidad
    </button>
          </div>
        </div>
      </div>
      <div class="mb-2 mb-sm-3 col-md-6">
        <div class="card flex-row p-3 h-100">
          <div class="col-4 col-md-4 d-none d-sm-block ">
            <img
              src="https://mdbootstrap.com/img/new/avatars/11.jpg"
              alt=""
              class="img-fluid object-fit-cover h-100"
/>
          </div>
          <div class="card-body col-12 col-md-8 d-flex flex-column justify-content-between p-0 ps-sm-3">
            <div class="d-flex align-items-center pb-3">
              <div class="align-self-start">
                <p class="mb-2 fw-bold fs-5 ff-montserrat">Acústicos</p>
                <p class="mb-0">Una versión reducida de un videoclip, para acompañar la música de contenido visual</p>
              </div>
            </div>
            <button class="btn-secondary ms-auto me-auto ms-md-auto me-md-0 btn-sm w-100" onclick="window.open('/videos-acusticos', '_self')">
              <i class="bi bi-play-fill"></i>
      Ver acústicos
    </button>
          </div>
        </div>
      </div>
      <button class="w-auto mx-auto mt-4 btn-primary btn-lg" onclick="window.open('/videos-todos', '_self')">
        <i class="bi bi-play-fill"></i>
      Ver todos
    </button>
    </div>
    {# End Portfolio Section #}
  </section>

  <section id="photos" class="p-2 py-4 overflow-hidden container-xxl p-lg-5 bg-white" data-aos="fade-right" data-aos-duration="1000">
    <h2 class="mb-2 fw-bold fs-2 text-uppercase ff-quicksand">Fotografías</h2>
    <hr style="width:200px" class="opacity">

    {# Grid photos #}
    <h3 class="mb-3 fs-3 ff-quicksand">Reflejos</h3>
    {# <div class="row" data-masonry='{"percentPosition": true }'> #}
    <div class="row">
      <div class="mb-4 col-6 col-md-4 col-lg-4 order-1">
        <img src="/img/photos/frontpage/portada-reflejos-ciborg.jpg" loading="lazy" class="img-fluid object-fit-cover h-100">
      </div>
      <div class="mb-4 col-12 col-md-4 order-3 order-md-2">
        <div class="row">
          <div class="mb-4 col-6 col-md-12">
            <img src="/img/photos/frontpage/portada-reflejos-puerto.jpg" loading="lazy" class="img-fluid object-fit-cover h-100">
          </div>
          <div class="mb-4 col-6 col-md-12">
            <img src="/img/photos/frontpage/portada-reflejos-catedral.jpg" loading="lazy" class="img-fluid object-fit-cover h-100"></div>
        </div>
      </div>
      <div class="mb-4 col-6 col-md-4 col-lg-4 order-2 order-md-3">
        <img src="/img/photos/frontpage/portada-reflejos-visualizador.jpg" loading="lazy" class="img-fluid object-fit-cover h-100">
      </div>
    </div>

    <button onclick="window.open('/fotos', '_self')" class="opacity mx-auto btn-primary btn-lg">
      <i class="bi bi-play-fill"></i>
      Ver fotografías
    </button>
    {# End Photos section #}
  </section>

  {# Contacto Section #}
  <section id="contact" class="p-4 bg-redish p-md-5">
    <div class="container-xxl">
      <h2 class="">Contacto</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="qqq border-bottom align-items-center border-light border-top d-flex">
            <i class="bi bi-geo-alt-fill d-inline-block fs-2"></i>
            <p class="py-3 m-0 ps-4">
              Mediterráneo
            </p>
          </div>
          <div class="qqq border-bottom align-items-center border-light d-flex mb-3">
            <i class="bi bi-envelope inline-block fs-2"></i>
            <span class="py-3 m-0 ps-4">
              Email:
              <a href="mailto:epistolariodigital@yahoo.es" class="d-inline-block">epistolariodigital@yahoo.es</a>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid object-fit-cover h-100" src="/img/eduardo-fotos.jpeg"/>
        </div>
      </div>
    </div>

    {# End Contacto Section #}
  </section>
