---
layout: layouts/home.njk
fa-icon: 'fa-home'
eleventyNavigation:
  key: Inicio
  order: 1
  url: /#inicio
---

<!-- Sobre mi Section -->
<div id="about" class="content-section w3-content w3-justify w3-text-grey">
  <div class="semioscuro p-5 mt-5">

    <h2 class="w3-text-light-grey">La mirada Laborda</h2>
    <hr style="width:200px" class="w3-opacity">
    <p>“La Mirada Laborda” es un reflejo de mi trabajo, una pequeña selección de mis
            obras más representativas. Después de dos décadas dedicado a la fotografía y al
            vídeo, sigo fascinado con el cultivo de un lenguaje propio con el que poder
            transmitir mi pasión por la vida y la belleza de su misterio. Ha sido para mi un
            honor y un placer entregarme a este oficio y a su magia. He disfrutando
            esculpiendo mi visión y sobretodo he disfrutado de la gente con la que he tratado.
            Fotografiar es un acto que implica responsabilidad y amor por lo fotografiado.
            Cada sesión de fotos, cada audiovisual realizado ha sido una experiencia integral,
            una poderosa herramienta para conocer al ser humano en un contexto de
            experimentación artística. Un auténtico regalo.
            <br>
            Eduardo Laborda Martínez.
        </p>
    <div class="row semioscuro text-center">
      <div class="col p-3">
        <span class="w3-xlarge">11+</span><br>
            Colaboraciones
      </div>
      <div class="col p-3">
        <span class="w3-xlarge">55+</span><br>
            Proyectos hechos
      </div>
      <div class="col p-3">
        <span class="w3-xlarge">89+</span><br>
            Clientes felices
      </div>
      <div class="col p-3">
        <span class="w3-xlarge">12+</span><br>
            Exposiciones
      </div>
    </div>
    <button class="w3-button w3-button-primary w3-light-grey  w3-section" onclick="window.open('{{ 'files/eduardo-laborda-cv.pdf' | url}}')">
      <i class="fa fa-download"></i>
      Descargar resumen
    </button>
  </div>
  <!-- Testimonials -->
  <div class="w3-content w3-justify w3-text-grey semioscuro text-white p-5 mt-2">
    <h3 class="w3-padding-24 w3-text-light-grey">Mi reputación</h3>
    <img src="{{ '/img/w3images/bandmember.jpg' | url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px;height:80px;">
    <p>
      <span class="w3-large w3-margin-right">Daniel Rodrigue</span> CEO en Mighty Schools.</p>
    <p>"Fue un placer trabajar  con alguien tan comprometido con su oficio.</p>
    <p> Su calidez humana y talento hacen que todo resulte con él fácil e inspirador"</p>
    <br>


    <img src="{{ '/img/w3images/chef.jpg' | url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px;height:80px;">
    <p>
      <span class="w3-large w3-margin-right">Daniel Rodrigue</span> CEO en Mighty Schools.</p>
    <p>"Las fotos quedaron estupendas, un resultado impactante, sorprendente. </p>
    <p>Realmente ve el mundo desde una óptica distista.
       Cuanta belleza y ternura en su mirada."</p>
    <br>
  </div>
  <!-- End Sobre mi Section -->
</div>

<!-- Portfolio Section -->
<div id="photos" class="content-section w3-padding-64 w3-content semioscuro p-5">
  <h2 class="w3-text-light-grey">Mis videos</h2>
  {# <p>https://www.youtube.com/watch?v=5sHxdgTx_Tw&list=PLqfqm_U5gMLlP5XSANN1uSYl-UO4jrgrx&index=3</p> #}
  <hr style="width:200px" class="w3-opacity">

  <!-- Grid for photos -->
  <div class="container text-center">
    <style>
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create two equal columns that sit next to each other */
      .column {
        flex: 50%;
        max-width: 50%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }
      {% raw %}
        @media (max-width: 600px) {
          .column {
            flex: 100%;
            max-width: 100%;
          }
        {% endraw %}
    </style>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-lg-12 mb-4">
              <div id="XLAfyl6H0P0" class="eleventy-plugin-youtube-embed" style="position:relative;width:100%;padding-top: 56.25%;">
                <iframe style="position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;" title="Embedded YouTube video" src="https://www.youtube-nocookie.com/embed/XLAfyl6H0P0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="100%" height="100%" frameborder="0"></iframe>
              </div>
            </div>
          </div>
          {% for post in collections.videos | head(-10) %}
            <div class="carousel-item">
              <div class="col-lg-12 mb-4">
                {# <a href="{{ post.url | url}}"><img src = "{{ post.data.image | url }}" style="width:100%;margin-bottom:0px" > </a> #}
                <div class="d-block w-100">
                  <p>{{ post.data.videourl }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- End photo grid -->
    </div>
    <button class="w3-button w3-button-primary w3-light-grey  w3-section" onclick="window.open('/videos', '_self')">
      <i class="fa fa-regular fa-play w-25"></i>
      Ver más
    </button>
    <!-- End Portfolio Section -->
  </div>
</div>

<!-- Contacto Section -->
<div id="contact" class="content-section semioscuro p-5 text-white w3-content w3-text-grey">
  <h2 class="w3-text-light-grey">Contacto</h2>
  <hr style="width:200px" class="w3-opacity">

  <div class="w3-section">
    <p>
      <i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Barcelona</p>
    {# <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p> #}
    <p>
      <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Email: <a href="mailto:epistolariodigital@yahoo.es" class="text-white">epistolariodigital@yahoo.es</a>
    </p>
  </div><br>
  <!-- End Contacto Section -->
</div>
