---
pagination:
  data: collections.all
  size: 2
  alias: entries
layout: layouts/home.njk
permalink: /page-list/{% if collections.pageNumber > 0 %}{{ collections.pageNumber }}/{% endif %}
---

<table>
  <thead>
    <th>URL</th>
    <th>Page Title</th>
  </thead>
  <tbody>
{%- for entry in collections.videos %}
    <h2>{{ entry.data.title }}</h2>
    <p>{{ entry.data.videourl }}</p>
{%- endfor %}
  </tbody>
</table>




{# {%- for entry in collections.all | eleventyNavigation %} #}
