---
layout: layouts/home.njk
pagination:
    data: collections.publicidad
    size: 6
    alias: publicidad
permalink: /videos-publicidad/
---
{# Inicio #}
<div id="inicio" class="full-width content-section">
  <img src="/img/portada.jpg" class="banner-image banner-image--small">
</div>
{# Grid for photos  #}
<div class="container-xl">
  <h2> Vídeos de publicidad</h2>
  {% include "components/video-nav.njk" %}
  <section class="pb-4">
  {# Video grid #}
  {% include "components/video-grid.njk" %}
  {# Pagination #}
  {% include "components/pagination.njk" %}
  </section>
</div>
