---
layout: layouts/home.njk
pagination:
    data: videoList.acusticos
    size: 8
    alias: acustico
---
{# Inicio #}
<header id="inicio" class="header text-uppercase header--small">
  <h1 class="col-12 pt-3 page-title fs-1">
    <p class="mx-auto ms-md-5">{{ metadata.title }}</p></h1>
  {# <svg viewBox="0 0 450 50">
            <text y="50">{{ metadata.title }}</text>
          </svg> #}
  <p class="page-subtitle fs-2 mx-auto ms-md-5 p-3">Video y fotografía</p>
  <div class="wrapper-banner-image content-section">
    <img src="/img/banner-video.jpg" class="banner-image banner-image--small">
  </div>
</header>
{# Grid for photos  #}
<div class="bg-black">
  <div class="container-xl pt-5">
    <h2 class="ps-3 ps-sm-5 ps-xl-0"> Vídeos de acústicos</h2>
    {% include "components/video-nav.njk" %}
    <section>
    {# Video grid #}
    {% include "components/video-grid.njk" %}
    {# Pagination #}
    {% include "components/pagination.njk" %}
    </section>
  </div>
</div>
