---
layout: layouts/home.njk
pagination:
    data: videoList.acusticos
    size: 8
    alias: acustico
---
{# Inicio #}
<header class="header text-uppercase header--small">
  <h1 class="pt-3 col-12 page-title">
    <p class="mx-auto ms-md-5 pt-md-5">{{ metadata.title }}</p></h1>
  {# <svg viewBox="0 0 450 50">
            <text y="50">{{ metadata.title }}</text>
          </svg> #}
  <p class="px-3 py-1 mx-auto page-subtitle text-center fs-4 mb-4">Vídeos acústicos</p>
  <div class="wrapper-banner-image ">
    <picture>
      <source media="(max-width: 768px)" srcset="/img/banner-fotos-768.jpg"/>
      <source media="(min-width: 769px)" srcset="/img/banner-fotos-1920.jpg"/>
      <img class="banner-image banner-image--small" src="/img/banner-fotos-1920.jpg" alt="Una autoretrato con cámara de fotos"/>
    </picture>
  </div>
</header>
{# Grid for photos  #}
<div class="bg-white">
  <div class="pt-2 container-xl">
    <section>
    {% include "components/video-nav.njk" %}
    {# Vídeo grid #}
    {% include "components/video-grid.njk" %}
    {# Pagination #}
    {% include "components/pagination.njk" %}
    {% include "components/video-nav.njk" %}
    </section>
  </div>
</div>
