<!-- src/_includes/youtube.njk -->
<!-- Web component for lite-youtube-embed -->
<a href="/img/photos/{{ item.fileTitle }}" target="_blank">
  <img
    src="/img/photos/{{ item.fileTitle }}"
    alt="{{ item.alt }}"
    data-img2picture-widths="200,400,600,800"
    loading="lazy"
    class="pb-0 img-fluid"
  >
</a>
