<!-- src/_includes/youtube.njk -->
<!-- Web component for lite-youtube-embed -->
{# <a class="mas-info float-end text-white text-decoration-none" data-bs-toggle="collapse" href="#mas-info-{{ item.videoId }}" role="button" aria-expanded="false" aria-controls="collapseExample">
  + info
</a>
<div class="collapse" id="mas-info-{{ item.videoId }}">
  <div class="card card-body bg-black text-muted">
    {{ item.videoDescription }}
  </div>
</div> #}
<lite-youtube videoid="{{ item.videoId }}" class="pb-0" data-aos="zoom-out-up" style="background-image: url('https://i.ytimg.com/vi/{{ item.videoId }}/hqdefault.jpg');" {% if item.params %} params="{{ videoList.params }}"{% endif %}>
  <button type="button" class="lty-playbtn">
    <span class="lyt-visually-hidden">Play Vídeo: {{ item.videoTitle }}</span>
  </button>
</lite-youtube>
<div class="d-flex justify-content-between">
  <h3 class="video-title">{{ item.videoTitle }}</h3>
  <date class="fecha w-bold text-black pt-2 ff-montserrat">{{ item.published_date }}</date>
</div>
