{% set videopath = "/videos-videoclips" %}
<nav class="navbar justify-content-start ps-3 ps-sm-5 ps-xl-0">
  <a href="/videos-todos" class="btn-secondary me-2 px-3" {% if '/videos-todos' in  page.url %} aria-current="page"{% endif %}>Todos</a>
  <a href="/videos-videoclips" class="btn-secondary me-2 px-3" {% if '/videos-videoclips' in  page.url %} aria-current="page"{% endif %}>Videoclips</a>
  <a  href="/videos-documentales" class="btn-secondary me-2 px-3" {% if '/videos-documentales' in  page.url %} aria-current="page"{% endif %}>Documentales</a>
  <a href="/videos-publicidad" class="btn-secondary me-2 px-3" {% if '/videos-publicidad' in  page.url %} aria-current="page"{% endif %}>Publicidad</a>
  <a href="/videos-acusticos" class="btn-secondary me-2 px-3" {% if '/videos-acusticos' in  page.url %} aria-current="page"{% endif %}>Acústicos</a>
</nav>
