
{# Vídeo grid #}
<div class="video-grid pb-3 row">
  {%- for item in pagination.items %}
    <div class="col-md-6 py-1 p-lg-3 pt-0 pt-lg-0">
      {% include 'youtube.njk' %}
    </div>
  {% endfor -%}
</div>
