
{# Video grid #}
<div class="video-grid pb-3 row">
  {%- for item in pagination.items %}
    <div class="col-md-6 py-3 p-lg-3">
      <p>{{ item.data.videourl }}</p>
    </div>
  {% endfor -%}
</div>
