<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <body data-bs-spy="scroll" data-bs-target="#myNavbar">

    <nav id="myNavbar" class="bg-black d-block semitransparente fixed-bottom">
      <ul class="d-flex justify-content-center list-unstyled text-uppercase mb-0">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="pt-3 pb-2 pb-md-3 px-3 menu-item">
          <a href="{{ entry.url | url }}" class="bar-item"><i class="bi {{ entry.icono }} text-white text-center d-block fs-2 d-md-none"></i><p class="m-0">{{ entry.title}}</p></a>
        {%- endfor %}
        </li>
      </ul>
    </nav>

    {# Main content #}
    <main class="main-wrapper">
      {{ content | safe }}
    </main>
    <footer class="pt-4 footer">
    <ul class="pb-3 mb-3 nav justify-content-center border-bottom">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item">
          <a href="{{ entry.url | url }}" class="px-2 nav-link">{{ entry.title}}</a>
      </li>
        {%- endfor %}
    </ul>
    <div class="pb-3 text-center">
      ©  <script type="text/javascript">document.write(new Date().getFullYear());</script>
      La mirada Laborda
    </div>
  </footer>
  </div>
  <script src="/css/bootstrap/js/bootstrap.min.js"></script>
  {# <script src="/js/masonry.pkgd.min.js"></script> #}
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  {# <script src="/js/lite-yt-embed.js"></script> #}
  {# <script src="js/aos.js"></script> #}
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script>
      if (!window.Cypress) AOS.init();
    </script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.js"></script>
</body>
</html>
