<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif;
    }
    .w3-row-padding img {
      margin-bottom: 12px;
    }
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
      width: 120px;
      background: #000;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
      margin-left: 120px;
    }
    /* Remove margins from "page content" on small screens TODO add back in*/
    {% raw %}

    {% endraw %}
  </style>
  <body class="bg-black" data-bs-spy="scroll" data-bs-target="#myNavbar">

    <nav class="w3-top d-block w3-top d-block bg-black text-white p-2" id="myNavbar">
      <div class="d-flex justify-content-center text-uppercase">
        {%- for entry in collections.all | eleventyNavigation %}
          <a href="{{ entry.url | url }}" class="w3-bar-item w3-button">{{ entry.title}}</a>
        {%- endfor %}
      </div>
    </nav>

    <div class="main-wrapper container">
      <header class="header text-uppercase position-absolute">
        <h1 class="col-12 pt-3 page-title fs-1">
          <span class="w3-hide-small"></span>
          {{ metadata.title }}</h1>
        {# <svg viewBox="0 0 450 50">
            <text y="50">{{ metadata.title }}</text>
          </svg> #}
        <p class="page-subtile fs-2">Video y fotografía</p>
      </header>
      <main>
        <div id="inicio" class="full-width">
          <img src="/img/portada.jpg" class="banner-image">
        </div>
        {{ content | safe }}
      </main>
    </div>
    <!-- Footer -->
  </div>
  <script src="/css/bootstrap/js/bootstrap.min.js"></script>

  <!-- Current page: {{ page.url | url }} -->
</body>
</html>
